<!-- Custom styles for TeamWheels hero section -->
<style>
.teams-brand {
  position: relative;
  display: inline-block;
  white-space: nowrap;
}
.teams-brand::after {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-left: 8px;
  vertical-align: middle;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/eb/Microsoft_Teams_icon_%282020%29.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 768px) {
  .teams-brand::after {
    width: 24px;
    height: 24px;
  }
}
</style>
